@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Raleway', sans-serif;
}

.MuiBadge-badge {
    background-color: #ff5252 !important ;
}

.ReactCollapse--collapse {
    transition: height 300ms;
}
