@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f1f1;
}

.btn-org {
    background-color: #ff5252 !important;
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 20px !important;
}
.btn-org:hover {
    background-color: #171717 !important;
}

.btn-border {
    background-color: none !important;
    color: #ff5252 !important;
    border: 1px solid #ff5252 !important;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 20px !important;
}
.btn-border:hover {
    background-color: #171717 !important;
    color: #fff !important;
    border: 1px solid #171717 !important;
}
.btn-sm {
    font-size: 12px !important;
    padding: 5px 20px !important;
}

.link:hover {
    color: #ff5252;
}

.btn-red {
    color: #ff5252 !important;
}

.MuiBadge-badge {
    background-color: #ff5252 !important ;
}

.ReactCollapse--collapse {
    transition: height 300ms;
}
.btn {
    padding: 8px 20px !important;
}
.btn-blue {
    background-color: #3872fa !important;
    color: #fff !important;
    padding: 8px 20px !important;
}
.btn-blue:hover {
    background-color: #3067e5 !important;
}
.btn svg {
    font-size: 16px;
}
.btn-sm {
    padding: 6px 20px !important;
    font-size: 13px !important;
}
.btn-lg {
    padding: 8px 20px !important;
    font-size: 16px !important;
}
/* ::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    border-radius: 12px !important;
} */
::-webkit-scrollbar-thumb {
    background-color: #ccc !important;
}
th.MuiTableCell-root {
    @apply bg-[#f1f1f1] py-1;
}

a.active button {
    background-color: #e8e8e8 !important;
}
.css-rizt0-MuiTypography-root {
    font-size: 14px !important;
}

.MuiAppBar-colorPrimary {
    background-color: #e6e6e6 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.MuiSelect-select {
    background-color: #fff !important;
}
.MuiDialog-paper {
    background-color: #f9fafb !important;
}

.Mui-focused fieldset legend {
    display: none !important;
}

.productContent .actions button {
    min-width: 40px !important;
    height: 30px !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: rgba(0, 0, 0, 0.7);
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;

    width: 45px;
    height: 45px;
    min-width: 45px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
    transition: all 0.2s;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 22px !important;
    color: #000;
}
.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
    width: 30px;
    height: 30px;
    min-width: 30px;
    top: 55% !important;
}
.smlBtn .swiper-button-prev:after,
.smlBtn .swiper-button-next:after {
    font-size: 18px !important;
    color: #000;
}
